
#ckbox {
    margin: 4px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    width: 30vw;
    overflow-x: hidden;
}

#ckbox:hover {
  background-color: #911;
  color: #fff;
}

#ckbox label {
    float:left;
    width:4.0em;
}

span {
  width: 30vw;
  text-align: center;
}

#ckbox label span {
    padding: 3px 0px;
    display: block;
}

#ckbox label input {
    position: absolute;
    top: -20px;
}

.genreChecked {
    background-color: #911;
    color: #fff;
}
